body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Atma', cursive;
}

#root {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
  border-color: #353535;
  border-radius: 40px;
  border-width: 28px 103px 28px 74px;
  border-style: solid;
  position: relative;
}

.main-color {
 color:  orange !important; 
}

.progress-bar-orange {
  background-color: orange !important;
}

.add-button {
  background-color: #dc7777;
}

.search-item-space {
  margin-bottom: 10px;
}

#root:before {
  content: "";
  position: absolute;
  left: -80px;
  transform: rotate(270deg);
  background: url(https://cdn-images-1.medium.com/fit/c/200/200/1*PKHCHuLxDyZ8SV3PKxzizA.png) no-repeat center center / 100%;
  width: 85px;
  height: 180px;
  top: 40%;
}

#root:after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  position: absolute;
  right: -79px;
  top: 50%;
  border: 1px inset #7b7b7b;
}